version: '3'

services:

    db:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: ejbank
            MYSQL_USER: root
            MYSQL_PASSWORD: root

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - db:db
        ports:
            - 8003:80

    app:
        build: .
        links:
            - db:db
        ports:
            - 8001:8080
            - 8002:4848


